﻿@model PizzaFactory.Web.Models.Pizza

<h2>PizzasEdit</h2>

@using (Html.BeginForm("Edit", "Pizzas"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"]);

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Size)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Size)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.FurtherExpenses)</div>
    <div class="editor-field">@Html.EditorFor(m => m.FurtherExpenses)</div>

    <div class="editor-label">@Html.LabelFor(m => m.SaleMultiplier)</div>
    <div class="editor-field">@Html.EditorFor(m => m.SaleMultiplier)</div>

    <input type="submit" value="SEND" />
}