﻿@model PizzaFactory.Web.Models.Pizza

@{
    ViewData["Title"] = "PizzasDetails";
}

<h2>Datasheet of one car</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Size)</td>
        <td>@Html.DisplayFor(m => m.Size)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FurtherExpenses)</td>
        <td>@Html.DisplayFor(m => m.FurtherExpenses)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.SaleMultiplier)</td>
        <td>@Html.DisplayFor(m => m.SaleMultiplier)</td>
    </tr>
</table>