﻿@model PizzaFactory.Web.Models.PizzasViewModel

@{
    ViewData["Title"] = "Crud Index";
}

<h2>Pizzas Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@await Html.PartialAsync("PizzasEdit", Model.EditedPizza)

@await Html.PartialAsync("PizzasList", Model.ListOfPizzas)