﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>API test X</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="pizzas"></ul>
Pizza ID:
<input type="text" id="pizzaId"/>
<br/>
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts{ 
    <script language="javascript">
        var url = "https://localhost:44309/PizzaApi/";

        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html")
        }

        function doListNEW() {
            $("#pizzas").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.id) + " " +
                            htmlEncode(item.name) + " " +
                            htmlEncode(item.size) + " for " +
                            htmlEncode(item.price) + " HUF</li> " +
                            htmlEncode(item.furtherExpenses) + " " +
                            htmlEncode(item.saleMultiplier) + " ";
                        $("#pizzas").append(html);
                    });
                });
        }

        function doAdd() {
            var newPizza = {
                "name": "CsupaCsoda Pizza", "size": "45", "price": "2500", "saleMultiplier": "1.0", "furtherExpenses": "1.1"
            };
            $.post(url + "add", newPizza, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }

        function doMod() {
            var newPizza = {
                "Id": $("#pizzaId").val(), "name": "CsupaCsoda Pizza", "size": "32", "price": "2000", "saleMultiplier": "1.0", "furtherExpenses": "1.0"
            }
            $.post(url + "mod", newPizza, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }

        function doDel() {
            $.get(url + "del/" + $("#pizzaId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            })
        }
    </script>
}
